<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>DEMO</title>
    <link rel="stylesheet" type="text/css" href="/static/lib.min.css"/>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" th:utext="${messages}">
</script>
<script type="text/javascript" th:utext="${user}">
</script>
<script type="text/javascript" th:utext="${languages}">
</script>
<script type="text/javascript" src="/static/lib.min.js"></script>
<script type="text/javascript" src="/static/app.min.js"></script>
</body>
</html>